*
{
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times, serif
}

input{
  padding: 5px;
  margin: 5px;
}

h2{
  color: rgb(89, 129, 240);
}

.header-container{
  display: block;
  background-color: rgb(89, 129, 240);
  height: 50px;
  margin-bottom: 10px;
  
}

.basic-info, .education-info, .work-experience{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 10px;
  
}

.page-container{
display: flex;

}

.flex-child{
  flex: 1;
  
}

.letter-container{
  border: 3px black solid;
  margin-right: 80px;
  padding: 20px;
}

.basic-info-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 
}
.basic-info-section-two{
  font-style: italic;
  margin-right: 10px;
}

.name-output{
  color: rgb(89, 129, 240);
}

.education-info-section, .work-info-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}




